---
---

@import "minima";

.wrapper {
  max-width: 75%;
}

.post-content h1 {
  font-size: 34px;
  font-weight: bold;
}

.post-content h2 {
  font-size: 28px;
  font-weight: lighter;
}

.post-content h3 {
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
}